	<div class="row">
		<div class="span0 well">
			<span id="post_<%= comment.id %>_votes">
				<%= render "/comments/votes", :comment => comment %>
			</span>
		</div>
		<div class="span6 well">
			<p><%= comment.body %></p>
			<p><span class="quiet">Posted by</span> <%= comment.user.username %> <small>at <%= comment.created_at %></small></p>
		</div>
	</div>