
<% if @post.errors.any? %>
	<div class="alert alert-error">
	<%= @post.errors.full_messages.join(', ') %>
	</div>
<% end %>
<%= form_for(@post) do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title, :class => "span5" %>
	<br/>
	<%= f.label :url, "URL" %>
	<%= f.text_field :url, :class => "span5" %>
	<br/>
	<%= f.label :description %>
	<%= f.text_area :description, :class => "span5", :rows => '5' %>
	<br/>
	<%= f.submit %>
<% end%>